{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- summernote -->
<link href="{% static 'summernote-0.8.18-dist/summernote-bs4.min.css' %}" rel="stylesheet">
<script src="{% static 'summernote-0.8.18-dist/summernote-bs4.min.js' %}"></script>


{% endblock %}
{% block body %}
<div class="tab-content">
  <div class="tab-pane container active" id="community_all">
    <div class="row p-5">
      <div class="col-xl-6 ">
        <h2>자소서 첨삭 게시판</h2>
      </div>
      <div class="col-xl-6"></div>
      <div class="col-xl-6"></div>
      <div class="col-xl-6">
        <form class="form-inline my-2 my-md-0  float-xl-right" method="get" action="{% url 'community:search' %}">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="b" value="{{b}}">
        </form>
      </div>
    </div>

    <span>
      <div class="table-responsive px-5">
        <table class="table" style="font-size: 1vmax">
          <thead>
            <tr>
              <th width="5%" style="text-align: center">#</th>
              <th width="35%">제목</th>
              <th width="15%" style="text-align: center">작성자</th>
              <th width="15%" style="text-align: center">작성일</th>
              <th width="10%" style="text-align: center">조회수</th>
              <th width="10%" style="text-align: center">좋아요</th>
              <th width="10%" style="text-align: center">채택</th>
            </tr>
          </thead>
          <tbody id="mydatalist">
            {% for article in articles %}
            <tr align="center" style="border-bottom: 1px solid #a8afad;">
              <td>{{ article.pk }}</td>
              <td align="left"><a class="text-dark" href="{% url 'community:detail' article.pk %}"
                  style="text-decoration: none;">{{ article.title }} <b
                    style="color: red;">[{{  article.comment_set.all|length }}]</b></a>
              </td>
              <td><a class="text-dark" href="{% url 'accounts:profile' article.user %}"
                  style="text-decoration: none;">{{ article.user }}</a></td>
              <td>{{ article.updated_at|date:'Y/n/j' }}</td>
              <td>{{ article.hits }}</td>
              <td>{{ article.like_users.all|length }}</td>
              {% if article.comment_select_users|length == 0 %}
              <td>N</td>
              {% else %}
              <td>Y</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div style=" text-align: right;">
          <a class="" data-toggle="pill" href="#community_form"><button class="btn btn-primary">글 작성하기</button></a>
        </div>

        <!-- pagenator -->
        <ul id="board_all" class="pagination justify-content-center" style="margin:20px 0">
          {% if page <= 3  %}
          <li class="page-item disabled"><a class="page-link">Previous</a></li>
          {% for num in articles.paginator.page_range %}
          {% if num <= 5 %}
          {% if page == num %}
          <li class="page-item active"><a class="page-link" href="javascript:all_paging({{num}})">{{ num }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="javascript:all_paging({{num}})">{{ num }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}
          <li class="page-item"><a class="page-link" href="javascript:all_paging(6)">Next</a>
          </li>

          {% elif page >= end_page %}
          <li class="page-item"><a class="page-link" href="javascript:all_paging({{ page|add:'-3'}})">Previous</a></li>
          {% for num in articles.paginator.page_range %}
          {% if num >= end_page|add:-2 %}
          {% if page == num %}
          <li class="page-item active"><a class="page-link" href="javascript:all_paging({{num}})">{{ num }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="javascript:all_paging({{num}})">{{ num }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}
          <li class="page-item disabled"><a class="page-link" href="">Next</a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link" href="javascript:all_paging({{ page|add:'-3'}})">Previous</a></li>
          {% for num in articles.paginator.page_range %}
          {% if page >= num|add:'-2' and page <= num|add:'2' %}
          {% if page == num %}
          <li class="page-item active"><a class="page-link" href="javascript:all_paging({{num}})">{{ num }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="javascript:all_paging({{num}})">{{ num }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}

          <li class="page-item"><a class="page-link" href="javascript:all_paging({{ page|add:'3'}})">Next</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </span>
    <script>
      function all_paging(page) {
        paging = ""
        table = ""
        $.ajax({
          cache: false,
          url: "{% url 'community:all_paging' %}",
          type: "get",
          data: {
            'page': page,
          },
          success: function (data) {
            if (page <= 3) {
              paging += "<li class='page-item disabled'><a class='page-link'>Previous</a></li>"
              for (num = 1; num <= (data['end_page'] + 2); num++) {
                if (num <= 5) {
                  if (page == num) {
                    paging += "<li class='page-item active'><a class='page-link' href='javascript:all_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  } else {
                    paging += "<li class='page-item'><a class='page-link' href='javascript:all_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  }
                }
              }
              paging += "<li class='page-item'><a class='page-link' href='javascript:all_paging(" + 6 + ")'>Next</a></li>"
            } else if (page >= data['end_page']) {
              paging += "<li class='page-item'><a class='page-link' href='javascript:all_paging(" + (data['end_page'] - 3) + ")'>Previous</a></li>"
              for (num = 1; num <= (data['end_page'] + 2); num++) {
                if (num >= (data['end_page'] - 2)) {
                  if (page == num) {
                    paging += "<li class='page-item active'><a class='page-link' href='javascript:all_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  } else {
                    paging += "<li class='page-item'><a class='page-link' href='javascript:all_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  }
                }
              }
              paging += "<li class='page-item disabled'><a class='page-link' href='javascript:all_paging(" + 6 + ")'>Next</a></li>"
            } else {
              paging += "<li class='page-item'><a class='page-link' href='javascript:all_paging(" + (page - 3) + ")'>Previous</a></li>"
              for (num = 1; num <= (data['end_page'] + 2); num++) {
                if ((num >= page - 2) && (num <= page + 2)) {
                  if (page == num) {
                    paging += "<li class='page-item active'><a class='page-link' href='javascript:all_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  } else {
                    paging += "<li class='page-item'><a class='page-link' href='javascript:all_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  }
                }
              }
              paging += "<li class='page-item'><a class='page-link' href='javascript:all_paging(" + (page + 3) + ")'>Previous</a></li>"
            }
            document.getElementById('board_all').innerHTML = paging

            for (i = 0; i < data['articles'].length; i++) {
              table += "<tr align='center' style='border-bottom: 1px solid #a8afad;'>"
                + "<td>" + data['articles'][i]['id'] + "</td>"
                + "<td align='left'><a class='text-dark' id='comment_title_"+i+"' href='javascript:article_detail(" + data['articles'][i]['id'] + ")' style='text-decoration: none;'>" +data['articles'][i]['title']
                + "<b style='color: red;'> [" + data['articles'][i]['comments'] + "]</b></a></td>"
                + "<td><a class='text-dark' href='javascript:profile(" + data['articles'][i]['user'] + ")' style='text-decoration: none;'>" + data['articles'][i]['user'] + "</a></td>"
                + "<td>" + data['articles'][i]['date'] + "</td>"
                + "<td>" + data['articles'][i]['hits'] + "</td>"
                + "<td>" + data['articles'][i]['likes'] + "</td>"
            }
            document.getElementById('mydatalist').innerHTML = table
            for (i = 0; i < data['articles'].length; i++) {
              const titleTag = document.getElementById('comment_title_'+i)
              titleTag.innerText = data['articles'][i]['title']
              const b = document.createElement('b')
              b.innerText = ` [${data['articles'][i]['comments']}]`
              b.style.color = 'red'
              titleTag.appendChild(b)
            }
          }
        });
      }
      function article_detail(id) {
        document.location.href = "./" + id
      }
      function profile(id) {
        document.location.href = "account/" + id
      }


    </script>
  </div>
  <div class="tab-pane container fade" id="community_popular">
    <div class="row p-5">
      <div class="col-xl-6 ">
        <h2>인기글</h2>
      </div>
      <div class="col-xl-6"></div>
      <div class="col-xl-6"></div>
      <div class="col-xl-6">
        <form class="form-inline my-2 my-md-0  float-xl-right" method="get" action="{% url 'community:search' %}">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="b" value="{{b}}">
        </form>
      </div>
    </div>
    <span>
      <div class="table-responsive px-5">
        <table class="table" style="font-size: 1vmax">
          <thead>
            <tr>
              <th width="5%" style="text-align: center">#</th>
              <th width="45%">제목</th>
              <th width="15%" style="text-align: center">작성자</th>
              <th width="15%" style="text-align: center">작성일</th>
              <th width="10%" style="text-align: center">조회수</th>
              <th width="10%" style="text-align: center">좋아요</th>
            </tr>
          </thead>
          <tbody id="mydatalist2">
            {% for popular in populars %}
            <tr align="center" style="border-bottom: 1px solid #a8afad;">
              <td>{{ popular.pk }}</td>
              <td align="left"><a class="text-dark" href="{% url 'community:detail' popular.pk %}"
                  style="text-decoration: none;">{{ popular.title }} <b
                    style="color: red;">[{{  popular.comment_set.all|length }}]</b></a>
              </td>
              <td><a class="text-dark" href="{% url 'accounts:profile' popular.user %}"
                  style="text-decoration: none;">{{ popular.user }}</a></td>
              <td>{{ popular.updated_at|date:'Y/n/j' }}</td>
              <td>{{ popular.hits }}</td>
              <td>{{ popular.like_users.all|length }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
        <div style=" text-align: right;">
          <a class="" data-toggle="pill" href="#community_form"><button class="btn btn-primary">글 작성하기</button></a>
        </div>

        <!-- pagenator -->
        <ul id="board_popular" class="pagination justify-content-center" style="margin:20px 0">
          {% if page <= 3  %}
          <li class="page-item disabled"><a class="page-link">Previous</a></li>
          {% for num in articles.paginator.page_range %}
          {% if num <= 5 %}
          {% if page == num %}
          <li class="page-item active"><a class="page-link" href="javascript:popular_paging({{num}})">{{ num }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="javascript:popular_paging({{num}})">{{ num }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}
          <li class="page-item"><a class="page-link" href="javascript:popular_paging(6)">Next</a>
          </li>

          {% elif page >= end_page %}
          <li class="page-item"><a class="page-link" href="javascript:popular_paging({{ page|add:'-3'}})">Previous</a>
          </li>
          {% for num in articles.paginator.page_range %}
          {% if num >= end_page|add:-2 %}
          {% if page == num %}
          <li class="page-item active"><a class="page-link" href="javascript:popular_paging({{num}})">{{ num }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="javascript:popular_paging({{num}})">{{ num }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}
          <li class="page-item disabled"><a class="page-link" href="">Next</a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link" href="javascript:popular_paging({{ page|add:'-3'}})">Previous</a>
          </li>
          {% for num in articles.paginator.page_range %}
          {% if page >= num|add:'-2' and page <= num|add:'2' %}
          {% if page == num %}
          <li class="page-item active"><a class="page-link" href="javascript:popular_paging({{num}})">{{ num }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="javascript:popular_paging({{num}})">{{ num }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}

          <li class="page-item"><a class="page-link" href="javascript:popular_paging({{ page|add:'3'}})">Next</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </span>
    <script>
      function popular_paging(page) {
        paging = ""
        table = ""
        $.ajax({
          cache: false,
          url: "{% url 'community:popular_paging' %}",
          type: "get",
          data: {
            'page': page,
          },
          success: function (data) {
            if (page <= 3) {
              paging += "<li class='page-item disabled'><a class='page-link'>Previous</a></li>"
              for (num = 1; num <= (data['end_page'] + 2); num++) {
                if (num <= 5) {
                  if (page == num) {
                    paging += "<li class='page-item active'><a class='page-link' href='javascript:popular_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  } else {
                    paging += "<li class='page-item'><a class='page-link' href='javascript:popular_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  }
                }
              }
              paging += "<li class='page-item'><a class='page-link' href='javascript:popular_paging(" + 6 + ")'>Next</a></li>"
            } else if (page >= data['end_page']) {
              paging += "<li class='page-item'><a class='page-link' href='javascript:popular_paging(" + (data['end_page'] - 3) + ")'>Previous</a></li>"
              for (num = 1; num <= (data['end_page'] + 2); num++) {
                if (num >= (data['end_page'] - 2)) {
                  if (page == num) {
                    paging += "<li class='page-item active'><a class='page-link' href='javascript:popular_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  } else {
                    paging += "<li class='page-item'><a class='page-link' href='javascript:popular_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  }
                }
              }
              paging += "<li class='page-item disabled'><a class='page-link' href='javascript:popular_paging(" + 6 + ")'>Next</a></li>"
            } else {
              paging += "<li class='page-item'><a class='page-link' href='javascript:popular_paging(" + (page - 3) + ")'>Previous</a></li>"
              for (num = 1; num <= (data['end_page'] + 2); num++) {
                if ((num >= page - 2) && (num <= page + 2)) {
                  if (page == num) {
                    paging += "<li class='page-item active'><a class='page-link' href='javascript:popular_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  } else {
                    paging += "<li class='page-item'><a class='page-link' href='javascript:popular_paging(" + num + ")'"
                      + "'>" + num + "</a></li>"
                  }
                }
              }
              paging += "<li class='page-item'><a class='page-link' href='javascript:popular_paging(" + (page + 3) + ")'>Next</a></li>"
            }
            document.getElementById('board_popular').innerHTML = paging

            for (i = 0; i < data['articles'].length; i++) {
              table += "<tr align='center' style='border-bottom: 1px solid #a8afad;'>"
                + "<td>" + data['articles'][i]['id'] + "</td>"
                + "<td align='left'><a class='text-dark' id='comment_title_"+i+"' href='javascript:article_detail(" + data['articles'][i]['id'] + ")' style='text-decoration: none;'>" +data['articles'][i]['title']
                + "<b style='color: red;'> [" + data['articles'][i]['comments'] + "]</b></a></td>"
                + "<td><a class='text-dark' href='javascript:profile(" + data['articles'][i]['user'] + ")' style='text-decoration: none;'>" + data['articles'][i]['user'] + "</a></td>"
                + "<td>" + data['articles'][i]['date'] + "</td>"
                + "<td>" + data['articles'][i]['hits'] + "</td>"
                + "<td>" + data['articles'][i]['likes'] + "</td>"
            }
            document.getElementById('mydatalist2').innerHTML = table
            for (i = 0; i < data['articles'].length; i++) {
              const titleTag = document.getElementById('comment_title_'+i)
              titleTag.innerText = data['articles'][i]['title']
              const b = document.createElement('b')
              b.innerText = ` [${data['articles'][i]['comments']}]`
              b.style.color = 'red'
              titleTag.appendChild(b)
            }
            
          }
        });
      }
      function article_detail(id) {
        document.location.href = "./" + id
      }
      function profile(id) {
        document.location.href = "account/" + id
      }


    </script>
  </div>
  <div class="tab-pane container fade" id="community_form">
    <div class="container">
      <div class="row pt-5 px-5">
        <div class="col-xl-12">
          {% if request.resolver_match.url_name == 'create' %}
          <h1>글 생성</h1>
          {% else %}
          <h1>글 수정</h1>
          {% endif %}
        </div>
      </div>
      <div class="row p-5">
        <div class="col-xl-12">
          <form action="{% url 'community:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <textarea id="resume_article" name="content"></textarea>
            <script>
              $('#resume_article').summernote(
                {
                  placeholder: '',
                  disableDragAndDrop: true,
                  tabsize: 2,
                  height: 400,
                  focus: true,
                }
              );
            </script>
            <br />
            <div class="row">
              <div class="col-xl-12 text-right">
                {% buttons %}
                <a href="{% url 'community:index' %}"><button type="button"" class=" btn btn-primary">
                    취소
                  </button></a>
                <button type="submit" class="btn btn-primary">
                  작성완료
                </button>
                {% endbuttons %}
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>



</div>

<script src="{% static 'community/js/like.js' %}"></script>
{% endblock %}